@import"https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Poppins:wght@400;700;800&display=swap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", san-serif
}

body {
    height: 100vh;
    width: 100%;
    background: #dbdbdb;
    position: relative;
    display: grid;
    place-items: center
}

main {
    background: #f0f0f0;
    width: 50em;
    margin: 1em auto;
    border-radius: 4% 4% 150px 4%;
    padding: 3em
}

main .input {
    display: flex;
    gap: 2em;
    font-style: normal
}

main .input label {
    display: block;
    letter-spacing: 2px;
    font-size: .8em;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #716f6f
}

main .input input {
    outline: none;
    border: 1.8px solid #dbdbdb;
    background: rgba(0, 0, 0, 0);
    width: 5em;
    height: 1.5em;
    padding: 1em .5em;
    font-size: 2em;
    font-weight: 600;
    border-radius: .25em
}

main .input input:focus {
    border: 1px solid #854dff
}

main .input small {
    color: #ff5757;
    font-size: .75rem;
    font-weight: bold;
    font-style: italic
}

main .input>div {
    display: flex;
    flex-direction: column;
    gap: .4em
}

main .arrow {
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    position: relative;
    height: 80px
}

main .arrow .line {
    background: #dbdbdb;
    height: 2px;
    width: 100%
}

main .arrow .arr-circle {
    position: absolute;
    right: 0;
    display: flex;
    cursor: pointer;
    background: #854dff;
    width: 5.5em;
    height: 5.5em;
    display: flex;
    border-radius: 50%;
    transition: linear .3s
}

main .arrow .arr-circle svg {
    margin: auto
}

main .arrow .arr-circle:hover {
    background: #141414
}

main .output span {
    color: #854dff
}

main .output p {
    line-height: 1.18em;
    font-size: 85px;
    font-style: italic;
    font-weight: 800
}

@media(max-width: 1000px) {
    main {
        width: 85%;
        padding: 1.5em
    }

    main .input {
        gap: 1.5em
    }

    main .input input {
        width: 4em
    }

    main .output p {
        line-height: 1.5em;
        font-size: 4em
    }
}

@media(max-width: 1000px)and (max-width: 600px) {
    main {
        width: 90%;
        padding: 1.5em
    }

    main .input {
        display: flex;
        justify-content: space-evenly;
        gap: 1.2em
    }

    main .input input {
        width: 4.2em;
        height: 1.5em;
        padding: 25px 12px;
        font-size: 20px
    }

    main .arrow {
        margin: 20px 0 20px;
        position: relative;
        height: 80px
    }

    main .arrow .arr-circle {
        right: 50%;
        transform: translateX(50%);
        width: 50px;
        height: 50px
    }

    main .arrow .arr-circle svg {
        margin: auto;
        height: 25px
    }

    main .output p {
        line-height: 1.5em;
        font-size: 3.4em
    }
}

@media(max-width: 1000px)and (max-width: 300px) {
    main .input {
        flex-wrap: wrap;
        gap: .85em
    }

    main .output p {
        line-height: 1.5em;
        font-size: 2.2em
    }
}

@media(max-width: 1000px) {
    footer {
        width: 90%;
        margin: auto;
        text-align: center
    }
}